if SHIELD_COSMOTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Jesse's Cosmotyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COSMOTYL_LEFT || SHIELD_COSMOTYL_RIGHT

config ZMK_SPLIT
    default y

endif